name: Generate GitHub Stats

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate Stats
        uses: anuraghazra/github-readme-stats@master
        with:
          username: hanushashwat
          theme: synthwave
          hide_border: true
          count_private: true
          output: assets

      - name: Commit files
        run: |
          git config user.name github-actions
          git config user.email actions@github.com
          git add assets
          git commit -m "update stats" || exit 0
          git push
