name: Generate GitHub Stats

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate Stats Cards
        uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          USERNAME: hanushashwat
          THEME: synthwave


      - name: Move files
        run: |
          mkdir -p assets
          mv profile-summary-card-output/* assets/

      - name: Commit files
        run: |
          git config user.name github-actions
          git config user.email actions@github.com
          git add assets
          git commit -m "update stats" || exit 0
          git push
